.banner-switch-sm > img,
.banner-switch-lg > img
    width: 100%

.banner-switch-lg > img
  display: block
  @media only screen and (max-width: 700px) 
    max-width: 1000px
    display: none

.banner-switch-sm > img
  display: block
  @media only screen and (min-width: 701px) 
    max-width: 500px
    display: none
  