@import colors
@import type
@import footer
@import cards
@import nav
@import btp
@import banner

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: 'Lora', Georgia, Times, "Times New Roman", serif

.wide
  width: 100%
  max-width: 1000px
  padding: 4rem 4rem 0 4rem
  margin: 0 auto
  @media only screen and (max-width: 500px)
    //background-color: red
    padding: 2rem 2rem 0 2rem

.narrow
  width: 100%
  max-width: 38rem
  padding: 4rem
  margin: 0 auto

header
  margin-bottom: 2rem

.logo
  width: 45px
  @media only screen and (max-width: 500px)
    //background-color: red
    width: 40px

.img-sm
  display: block
  max-width: 420px
  margin: 0 auto

.img-md
  display: block
  max-width: 640px
  margin: 0 auto